#nav-top {
background:#303030 ;
border-right:none ;
border-left:none ;
}

#navbar-main > ul > li > a , .navbar-brand * {
color:#CCCCCC
}

#navbar-main > ul > li > a:hover , .navbar-brand *:hover {
color:#FFFFFF
}

#navbar-main .dropdown-menu li a:hover {
background:#EEEEEE
}

#contact {
font-size:1em ;
line-height:1em
}

#contact h1 , #contact h2 , #contact h3  {
font-weight:bold ;
margin-top:0em
}

#contact p {
font-size:1em ;
line-height:0.25em ;
margin-top:0em
}

#contact p b {
line-height:1em ;
}

#frame {
position:relative ;
top:-250px ;
float:right ;
right:225px ;
}

#frame * {
position:absolute ;
float:right
}

.tooltip-wider .tooltip {
min-width:250px
}

p.keywords {
font-size:1.2em ;
line-height:1.75em
}

p.keywords span {
margin-right:0.25em ;
}

ul.university {
list-style:none ;
margin:0em ;
padding:0em ;
}

ul.university li.title {
font-size:1.5em ;
line-height:1.5em ;
}

ul.university li a {
}


ul.courses {
list-style:none ;
margin:0em ;
padding:0em ;
}

ul.courses li {
margin-bottom:2em ;
font-size:1em ;
border-left:solid 2px #9EBBC4 ;
padding-left:1em ;
padding-bottom:0.5em ;
}

ul.courses li .title {
display:block ;
width:100% ;
font-size:1.3em ;
}

ul.courses li .organism {
display:block ;
width:100% ;
}

