

a {
border:none ;
text-decoration:none ;
outline:none ;
color:#063559 ;
border-bottom:#9EBBC4 solid 1px ;
}

a:hover {
text-decoration:none ;
outline:none ;
color:#063559 ;
border-bottom:#063559 solid 1px ;
}

div#contenido > p {
margin-top:1em ;
}


abbr {
text-decoration:none ;
border-bottom:dotted 1px;
}

/* ESTRUCTURA BASICA */


div#cabecera {
display:block ;
width:100% ;
height:100px + 2em ;
}

div#menu {
width:25% ;
float:right ;
margin-top:6em ;
border-top:solid 0px #99CCFF ;
background:url(img/degradado03.png) left top repeat-y ;
}

div#menu div#start_separator {
display:block ;
width:25px ;
height:50px ;
background:url(img/degradado04.png) bottom left no-repeat ;
}

div#menu div#end_separator {
display:block ;
width:25px ;
height:50px ;
background:url(img/degradado05.png) top left no-repeat ;
}

div#menu ul#menu li {
list-style:none ;
font-size:2em ;
margin-top:0.5em ;
margin-bottom: 0.5em ;
}

div#menu ul > li , div#menu > span , div#menu > h1 {
margin-left:50px ;
}

div#menu span#thesis {
display:block ;
width:100% ; ;
margin:0em ;
margin-top:1em ;
text-align:center ;
}

div#menu span#thesis img {
margin-top:1em ;
margin-bottom:1em ;
}

div#menu span#thesis a {
border:none ;
clear:both ;
}

div#menu span#thesis span#isbn {
display:none ;
clear:both ;
}

div#menu ul#ID  {
display:block ;
width:100% ; ;
margin:0em ;
margin-top:1em ;
text-align:left ;
list-style:none ;
}

div#menu ul#ID li {
padding-left:20px ;
line-height:20px ;
}

div#menu ul#ID li#orcid {
background:url(img/orcid.gif) no-repeat center left ;
}

div#menu ul#ID li#scopusid {
background:url(img/scopusid.gif) no-repeat center left ;
}

div#menu ul#ID li#google {
background:url(img/google.gif) no-repeat center left ;
}

div#menu ul#ID li#linkedin {
background:url(img/linkedin.gif) no-repeat center left ;
}

div#menu ul#ID li a {
border-bottom:solid 1px #9EBBC4 ;
}

div#menu ul#ID li a:hover {
border-bottom:solid 1px #063559 ;
}

div#contenido {
width:75% ;
float:right ;
margin-bottom:3em ;
}

div#contenido > * {
margin-left:50px ;
margin-right:100px ;
}

div#pie {
display:block ;
width:100% ;
height:30px ;
margin-bottom:1em ;
background:#D1DBE9 ;
clear:both ;
color:#FFFFFF ;
border-top:solid 0px #9EBBC4 ;
border-bottom:solid 0px #9EBBC4 ;
}

div#pie a#top {
display:block ;
width:30px ;
height:14px ;
padding:8px ;
border:none ;
background:url(img/top.gif) center center no-repeat #D1DBE9 ;
float:right ;
font-size:0px ;
margin-right:8px ;
border-right:solid 1px #FFFFFF ;
border-left:solid 1px #FFFFFF ;
}

div#pie a#top:hover {
height:16px ;
margin-top:-1px ;
background:url(img/top.gif) center center no-repeat #9EBBC4 ;
}

div#pie span#disenio {
font-size:14px ;
padding:8px ;
padding-left:15px ;
margin-left:25px ;
float:left ;
background:url(img/mail.gif) left center no-repeat ;
}


div#pie span#disenio a {
}

/* CABECERA  */


div#cabecera {
}

div#cabecera div#info {
display:block ;
width:100% ;
color:#666666 ;
padding-top:0.5em ;
padding-bottom:0.5em ;
}

div#cabecera div#info a {
margin-left:5px ;
}

/*
div#cabecera div#info a {
margin-left:5px ;
width:auto ;
height:auto ;
color:#CCCCCC ;
background:url(img/degradado02.png) bottom left repeat-x #CCCCCC ;
border:none ;
padding:0.5em ;
border-left:#333333 solid 1px  ;
border-right:#333333 solid 1px  ;
}

div#cabecera div#info a:hover {
background:url(img/degradado01.png) bottom left repeat-x #CCCCCC ;
color:#FFFFFF ;
}
*/


div#cabecera canvas {
display:block ;
width:100% ;
height:100px ;
color:#FFFFFF ;
background:url(img/rw.jpg) left top no-repeat #333333 ;
border-top:#202020 solid 0px  ;
border-bottom:#202020 solid 0px  ;
}


/* CONTENIDO */


div#contenido h1 , div#contenido h2 , div#contenido h3 {
display:block ;
width:100% ;
font-size:3em ;
font-weight:normal ;
text-align:left ;
padding:0 ;
margin-top:1.5em ;
margin-bottom:1em ;
font-weight:normal ;
}

div#contenido h1 {
font-size:3em ;
}

div#contenido h2 {
font-size:2em ;
}

div#contenido h3 {
font-size:1.5em ;
}

div#contenido a {
border:none ;
text-decoration:none ;
outline:none ;
color:#063559 ;
border-bottom:#9EBBC4 solid 1px ;
}

div#contenido a:hover {
text-decoration:none ;
outline:none ;
border-bottom:#063559 solid 1px ;
}

div#contenido > p {
margin-bottom:0.2em ;
}

div#contenido div#contact {
display:block ;
width:75% ;
margin-left:12% ;
height:auto ;
background:#063559 ;
color:#FFFFFF ;
font-size:1.2em ;
padding-top:25px ;
padding-bottom:25px ;
margin-top:1.5em ;
margin-bottom:1em ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}

div#contenido div#contact.old {
display:block ;
width:75% ;
margin-left:12% ;
height:auto ;
background:#666666 ;
color:#FFFFFF ;
font-size:1.2em ;
padding-top:25px ;
padding-bottom:25px ;
margin-top:1.5em ;
margin-bottom:1em ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}

div#contenido div#contact.old  .tachado{
text-decoration:line-through ;
}

div#contenido div#contact p {
padding-left:25px  ;
}

div#contenido div#contact p.name {
font-size:2em ;
font-weight:normal ;
margin:0px ;

}

div#contenido div#contact p.university {
font-weight:bold ;
margin-top:0.5em ;
}

div#contenido div#contact p.mail {
background:url(img/mail.gif) left center no-repeat ;
margin-top:0.5em ;
margin-left:25px ;
padding-left:16px ;
}

div#contenido div#contact p.mail a {
border:none ;
text-decoration:none ;
outline:none ;
color:#FFFFFF ;
border-bottom:#9EBBC4 solid 1px ;
}

div#contenido div#contact p.mail a:hover {
text-decoration:none ;
outline:none ;
border-bottom:#FFFFFF solid 1px ;
}

div#contenido div#contact div#module , div#contenido div#contact div#phase {
display:block ;
width:250px ;
height:250px ;
position:relative ;
float:right ;
clear:both ;
margin-top:-240px ;
margin-right:15px ;
}

div#contenido div#contact div#phase {
margin-top:-220px ;
margin-right:10px ;

}

 div.module {
background:url(img/frame_module.png) no-repeat center center ;
top:20px ;
}

 div.phase {
background:url(img/frame_phase.png) no-repeat center center ;
}


/* EDUCATION */


ul#university div#bibtex {
display:block ;
width:100% ;
margin-top:1em ;
background:url(img/bookmark.gif) no-repeat top left ;
text-indent:1.5em ;
}

ul#university a {
border:none ;
text-decoration:none ;
color:#000000 ;
border-bottom:#9EBBC4 solid 1px  ;
line-height:1.5em ;
}

ul#university a:hover {
text-decoration:none ;
border-bottom:#000000 solid 1px ;
}

ul#university div#bibtex a#show , ul#university div#bibtex a#hide {
display:inline ;
}

ul#university div#bibtex a#hide {
display:none ;
}

ul#university div#bibtex span#cite {
display:none ;
text-indent:0em ;
width:100%-3px ;
background:#FFFFFF ;
color:#666666 ;
margin-top:1em ;
padding:1em ;
border:solid 1px #ABAAAC ;
}


/* EDUCATION > UNIVERSITY */


ul#university , ul#courses {
display:block ;
width:100%-100px ;
list-style:none ;
margin-bottom:2.5em ;
}

ul#university li {
display:block ;
width:100% ;
background:#D1DBE9 ;
padding:1em ;
margin-top:1em ;
margin-bottom:1em ;
border:solid 1px #9EBBC4 ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}

ul#university li span#title {
font-size:2em ;
margin-top:1em ;
margin-bottom:0.25em ;
}

ul#university li span#title em {
font-style:normal ;
}

ul#university li span#organism {
display:block ;
}

ul#university li span#work {
display:block ;
line-height:1.5em ;
}


/* EDUCATION > COURSES */


ul#courses li {
display:block ;
width:100% ;
margin-top:1.5em ;
margin-bottom:1em ;
border-left:solid 1px #9EBBC4 ;
padding-left:1em ; 
}

ul#courses li#programming span#title {
display:block ;
width:100% ;
font-size:1.3em ;
}

ul#courses li#advanced span#title {
display:block ;
width:100% ;
font-size:1.3em ;
}

ul#courses li span#organism {
display:block ;
width:100% ;
}

ul#courses li span#type {
}

ul#courses li span#date {
}


/* RESEARCH */


ul.research {
display:block ;
width:100% - 100px ;
list-style:none ;
color:#000000 ;
}

ul.research li#article , ul.research li#inproceedings {
display:block ;
width:100% ;
background:#D1DBE9 ;
margin-top:1em ;
margin-bottom:1em ;
padding:1em ;
border:solid 1px #9EBBC4 ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}


/* ARTICLE */


ul.research span#title {
display:block ;
font-size:2em ;
line-height:1.5em ;
}

ul.research span#title a {
color:#000000 ;
}

ul.research span#author {
display:block ;
line-height:1.5em ;
}

ul.research span#author em {
font-style:normal ;
font-weight:bold ;
}

ul.research span#journal {
font-style:italic ;
line-height:1.5em ;
}

ul.research span#journal a {
color:#000000 ;
}

ul.research span#booktitle {
font-style:italic ;
line-height:1.5em ;
}

ul.research span#booktitle a {
color:#000000 ;
}
ul.research span#year {
line-height:1.5em ;
margin-left:0.25em ;
margin-right:0.25em ;
}

ul.research span#date {
line-height:1.5em ;
margin-left:0.25em ;
margin-right:0.25em ;
}

ul.research span#impact {
display:inline ;
background:#36A7CE ;
line-height:1.4em ;
padding:0.2em ;
padding-left:0.4em ;
padding-right:0.4em ;
color:#FFFFFF ;
font-size:0.8em ;
font-family:Verdana ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
margin-left:0.25em ;
margin-right:0.25em ;
border:solid 1px #0099CC ;
}

ul.research span.main#impact  {
border:solid 1px #0099CC ;
font-weight:bold ;
}

ul.research div#bibtex {
display:block ;
width:100%-3px ;
margin-top:1em ;
background:url(img/bookmark.gif) no-repeat top left ;
text-indent:1.5em ;
}

ul.research div#bibtex a#show , ul.research div#bibtex a#hide {
display:inline ;
color:#000000 ;
}

ul.research div#bibtex a#hide {
display:none ;
}

ul.research div#bibtex span#cite {
display:none ;
text-indent:0em ;
width:100%-3px ;
background:#FFFFFF ;
color:#666666 ;
margin-top:1em ;
padding:1em ;
border:solid 1px #ABAAAC ;
}

ul.research div#notice {
display:block ;
width:100%-1em ;
background:#C2D0E2 ;
border:solid 1px #9EBBC4 ;
margin-top:1em ;
padding:0.5em ;
border-radius:3px ;
-ms-border-radius:3px ;
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
-khtml-border-radius:3px ;
}

ul.research div#notice span#icon {
padding:0.5em ;
padding-left:16px ;
background:url(img/exclamation.png) left center no-repeat ;
}



ul#waiting.research li.accepted {
background:#BBFFBB ;
border:solid 1px #006600 ;
}

ul#waiting.research li.accepted a {
border-bottom:solid 1px #99CC99 ;
}

ul#waiting.research li.accepted a:hover {
border-bottom:solid 1px #006600 ;
}

ul#waiting.research li.accepted div#info {
display:block ;
width:100%-1em ;
background:#99CC99 ;
border:solid 1px #006600 ;
margin-top:1em ;
padding:0.5em ;
border-radius:3px ;
-ms-border-radius:3px ;
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
-khtml-border-radius:3px ;
}

ul#waiting.research  li.accepted div#info span#icon {
padding:0.5em ;
padding-left:16px ;
background:url(img/tick.png) center center no-repeat ;
}

ul#waiting.research li.waiting {
background:#FFFFBB;
border:solid 1px #FFCC00 ;
}

ul#waiting.research li.waiting a {
border-bottom:solid 1px #FFCC66 ;
}

ul#waiting.research li.waiting a:hover {
border-bottom:solid 1px #FF9900 ;
}

ul#waiting.research li.waiting div#info {
display:block ;
width:100%-1em ;
background:#FFEE88 ;
border:solid 1px #FFCC00 ;
margin-top:1em ;
padding:0.5em ;
border-radius:3px ;
-ms-border-radius:3px ;
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
-khtml-border-radius:3px ;
}

ul#waiting.research li.waiting div#info span#icon {
padding:0.5em ;
padding-left:16px ;
background:url(img/exclamation.png) center center no-repeat ;
}

/* FILTROS */


ul#filter_bottons_on , ul#filter_bottons_off  {
display:block ;
min-height:0.5em ;
list-style:none ;
text-indent:1em ;
}

span#active_filters  {
display:none ;
}

ul#filter_bottons_on li , ul#filter_bottons_off li  {
margin:0.5em ;
margin-left:0em ;
margin-rigth:0em ;
}

ul#filter_bottons_on li a , ul#filter_bottons_off li a {
display:inline ;
padding:0.2em ;
padding-left:16px ;
padding-right:5px ;
color:#FFFFFF ;
text-decoration:none ;
border:none ;
border-radius:0px 3px 3px 0px;
-moz-border-radius:0px 3px 3px 0px;
-ms-border-radius:0px 3px 3px 0px;
-webkit-border-top-right-radius:3px;
-webkit-border-bottom-right-radius:3px;
}

ul#filter_bottons_on li a {
background:#36A7CE url(img/tag.gif) left center no-repeat ;
}

ul#filter_bottons_off li a {
background:#FF3333 url(img/tag.gif) left center no-repeat ;
}

ul#filter_bottons_on li a:hover , ul#filter_bottons_off li a:hover {
text-decoration:underline ;
border:none ;
}

ul#filter_bottons_on li a#hiding_all_topics , ul#filter_bottons_off li a#showing_all_topics {
background:#DDDDDD url(img/tag.gif) left center no-repeat ;
color:#666666 ;
text-decoration:none ;
display:none ;
border-radius:2px 2px 2px 2px ;
-moz-border-radius:2px 2px 2px 2px ;
-ms-border-radius:2px 2px 2px 2px ;
-webkit-border-top-right-radius:2px ;
-webkit-border-bottom-right-radius:2px ;
}

ul#filter_bottons_off li {
display:none ;
}

ul#filter_bottons_off li:last-child {
display:block ;
}

ul#filter_bottons_off li a#showing_all_topics {
display:inline ;
}

/* STAY */


ul#stay  {
width:100% - 100px ;
list-style:none ;
margin-top:1em ;
margin-bottom:2em ;
}

ul#stay a {
border:none ;
text-decoration:none ;
color:#000000 ;
border-bottom:#9EBBC4 solid 1px  ;
line-height:1.5em ;
}

ul#stay a:hover {
text-decoration:none ;
border-bottom:#000000 solid 1px ;
}

ul#stay li {
display:block ;
width:100%-1em ;
background:#D1DBE9 ;
margin-top:1em ;
margin-bottom:1em ;
padding:1em ;
border:solid 1px #9EBBC4 ;
border-radius:3px;
-ms-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}

ul#stay span#group {
display:block ;
font-size:2em ;
line-height:1.5em ;
}

ul#stay span#position {
display:block ;
font-size:2em ;
line-height:1.5em ;
}

ul#stay span#project {
display:block ;
font-size:1.25em ;
line-height:1.5em ;
}
ul#stay span#subproject {
display:block ;
line-height:2em ;
text-indent:0px ;
}

ul#stay span#place {
line-height:1.5em ;
}

ul#stay li em {
font-style:italic ;
margin-left:0.5em ;
margin-right:0.5em ;
}

ul#stay li span#date {
display:block ;
margin:0.5em ;
margin-left:0em ;
background:url(img/calendar.gif) left center no-repeat ;
padding-left:15px ;
}

