#nav-top {
background:#303030 ;
border-right:none ;
border-left:none ;
}

#navbar-main > ul > li > a , .navbar-brand * {
color:#CCCCCC
}

#navbar-main > ul > li > a:hover , .navbar-brand *:hover {
color:#FFFFFF
}

#navbar-main .dropdown-menu li a:hover {
background:#EEEEEE
}

#contact {
font-size:1em ;
line-height:1em
}

#frame {
position:relative ;
top:-225px ;
float:right ;
right:225px ;
}

#frame * {
position:absolute ;
float:right
}

.tooltip-wider .tooltip {
min-width:250px
}
