

/* RSS BLOCKS */


span#rss-blocks {
display:block ; /**/
font-size:10px ;
background:url(../img/degradado03.png) center left repeat-y  ;
padding-left:15px
}

span#rss-blocks div#rss-first {
background:url(../img/degradado04.png) top left no-repeat ;
}

span#rss-blocks div#rss {
background:url(../img/degradado03.png) center left repeat-y  ;
}
span#rss-blocks div#rss-last {
background:url(../img/degradado05.png) bottom left no-repeat ;
}

span#rss_title {
display:block ; /**/
width:100%-25px ;
border:none ;
font-size:2em ;
color:#FFFFFF
}

li#rss-item a.rss-item {
display:block ;
width:100% - 20px ;
margin:0px ;
margin-left:10px ;
line-height:3em ;
background:url(../img/corner.gif) center right no-repeat #006699 ;
margin-left:10px 
}


span#rss-blocks div p.rss-title span#title {
display:block ;
width:100% - 20px ;
font-size:2em ;
color:#FFFFFF ;
border:none ;
padding-left:1em ;
margin-top:1em ;
}

span#rss-blocks div p.rss-title span#title a {
color:#FFFFFF ;
}

span#rss-blocks div#fold {
display:block ;
float:left ;
width:10px ;
height:10px ;
background:url(../img/fold.gif) top left no-repeat ;
margin-left:10px;
}

span#rss-blocks div ul.rss-items {
display:block ;
width:100% - 25px ;
border:none ;
list-style:none ;
}

span#rss-blocks div ul.rss-items li {
display:block ;
width:100%-25px ;
list-style:none ;
padding-bottom:1em ;
margin-top:1em ;
}

span#rss-blocks div  ul.rss-items li * {
}

span#rss-blocks div  ul.rss-items li br {
display:none ;
}

span#rss-blocks div  ul.rss-items li a.rss-item {
font-size:1.5em ;
}

span#rss-blocks div  ul.rss-items li span.rss-item-auth {
display:block ;
}

span#rss-blocks div ul.rss-items li span.rss-date {
display:block;
}


/* RSS SCOPUS */ 


div#rss_scopus {
margin-top:2em ;
}

div#rss_scopus div.rss-box p {
display:none ;
margin:0px ;
padding:0px ;
}

div#rss_scopus div.rss-box ul.rss-items {
list-style:none ;
margin:0em ;
padding:0em ;
}

div#rss_scopus div.rss-box li.rss-item {
margin-bottom:2em ;
font-size:1em ;
border-left:solid 2px #9EBBC4 ;
padding-left:1em ;
padding-bottom:0.5em ;
}

div#rss_scopus div.rss-box li.rss-item a {
display:none
}

div#rss_scopus div.rss-box li.rss-item br {
}
